SECRET_KEY='yourSecretKey'
SQLALCHEMY_TRACK_MODIFICATIONS=False
MYSQL_ROOT_PASSWORD=my_password
MYSQL_DATABASE=mydb
MYSQL_USER=my_user
MYSQL_PASSWORD=my_password
SQLALCHEMY_DATABASE_URI='mysql+pymysql://my_user:my_password@mariadb:3306/mydb'