{% extends "layout.html" %}

{% block header %}
<title>Heatmap Test</title>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://unpkg.com/cal-heatmap@4.2.4/dist/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
<link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/Legend.min.js"></script>
<style>
    #cal-heatmap {
        width: 100%;
        height: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}

{% block content %}
<div id="cal-heatmap" ></div>
<div id="ex-year-legend"></div>

<script>
    async function updateCalendarHeatmap() {
        console.log("Fetching data...");

        const response = await fetch(`/statistics/api/training_sessions`);
        const rawData = await response.json();


        console.log("Data received:", rawData);


        const templateMap = new Map();

        rawData.forEach(item => {
            // Set the template for each Id. You could use any logic to set the value, here just taking the last seen Template for each Id.
            templateMap.set(item.Id, item.Template);
        });
        console.log(templateMap);



        const cal = new CalHeatmap();
        cal.paint({
            itemSelector: "#cal-heatmap",
            domain: { type: "month", label: { position: "top" } },
            subDomain: { type: "day", radius: 2 },
            date: { start: new Date("2025-01-01") }, // Adjusted to a realistic start date
            range: 5, // Show 12 months for a full year
            scale: {
                color: {
                    type: "threshold", // Better for discrete values
                    domain: [1, 2, 3, 4, 5, 6], // List the numbers you want to assign colors to
                    range: ['#FF6347', '#4682B4', '#32CD32', '#FFD700', '#8A2BE2', '#FF4500'], // Assign random colors for each number
                    // scheme: "Blues"
                }
            },
            data: {
                source: rawData,
                type: "json",
                x: "Date",
                y: "Id",
                groupY: 'max',
            },
        },
            [
                [
                    Tooltip,
                    {
                        text: function (date, value, dayjsDate) {
                            return (
                                (value ? templateMap.get(value)  : 'No Training') + ' on ' + dayjsDate.format('LL')
                            );
                        },
                    },
                ],
                // [
                //     Legend,
                //     {
                //         tickSize: 0,
                //         width: 180,
                //         itemSelector: '#ex-year-legend',
                //         label: 'Workouts',
                //     },
                // ],
                //     [
                //     CalendarLabel,
                //     {
                //         width: 30,
                //         textAlign: 'start',
                //         text: () => dayjs.weekdaysShort().map((d, i) => (i % 2 == 0 ? '' : y)),
                //     },
                // ],
            ]
        );

        console.log("Heatmap rendered!");
    }

    document.addEventListener("DOMContentLoaded", async function () {
        await updateCalendarHeatmap();
    });
</script>

{% endblock %}