{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Template Name -->
        <div class="form-group">
            <input type="text" name="template_name" value="{{ form.template_name.data or '' }}"
                placeholder="{{ form.template_name.label.text }}" size="40" required>
        </div>

        <!-- Exercises List -->
        <div id="exercise-list">
            {% for subform in form.exercises %}
            <div class="exercise-row" id="exercise-{{ loop.index0 }}" draggable="true" ondragstart="drag(event)"
                ondragover="allowDrop(event)" ondrop="drop(event)">
                <input type="text" name="exercises-{{ loop.index0 }}-exercise_name"
                    value="{{ subform.exercise_name.data or '' }}" placeholder="Exercise Name" required>
                {{ subform.csrf_token }}
                <button type="button" onclick="removeExerciseRow(this)">&#10006;</button>
            </div>
            {% endfor %}
        </div>
        <button type="button" value="true" onclick="addExerciseRow()">Add Exercise</button><br><br>
        <button type="submit" name="submit" value="true">Create Template</button>
    </form>
</div>

{% for template in templates %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="mb-0"><a class="article-title" href="{{ url_for('template', template_id=template.id) }}">{{ template.name }}</a></h2>
        </div>
        <ul class="exercise-list">
            {% for exercise in template.exercises %}
            <li class="exercise-item" style="font-size: smaller;">{{ exercise.exercise }}</li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endfor %}

<script src="{{ url_for('static', filename='create_template.js') }}"></script>

{% endblock %}