{% extends "layout.html" %}
{% block content %}
    {% for session in sessions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">{{ session.template.name }}</a> -->
              <small class="text-muted">{{ session.date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('session', session_id=session.id) }}">{{ session.template.name }}</a></h2>
            {% for exercise in session.exercises %}
                <p class="article-content">{{ exercise.exercise_name}} :

                    {% for detail in exercise.details%}
                        {{detail.repetitions}} / {{ detail.weight }} &nbsp;
                    {% endfor %}
                    </p>
            {% endfor  %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}