{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
    <form method="POST">
        <select name="template_id" id="template" onchange="loadTemplate(this.value)">
            <option value="">Select a Template</option>
            {% for template in templates %}
            <option value="{{ template.id }}">{{ template.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="date" name="date" id="date" required>
        <div id="exercise-list">
            {% for exercise_form in form.exercises %}
            <div class="exercise-row">
                <input type="text" name="exercise[]" value="{{ exercise_form.name.data }}"
                    placeholder="Exercise Name" oninput="loadLastSession(this, true)" required>
                <div class="details-list">
                    {% for detail_form in exercise_form.details %}

                    {% endfor %}
                </div>
                <button type="button"
                    onclick="addDetailRow(this.closest('.exercise-row').querySelector('.details-list'), '', '')">&#10010;</button>
            </div>
            {{ exercise_form.csrf_token }}
            {% endfor %}
        </div>
        <button type="button" onclick="addExerciseRow()" style="margin-bottom: 1cm;">Add Exercise</button>
        <button type="submit" value="true">Submit Session</button>
    </form>
</div>


<script src="{{ url_for('static', filename='new_session.js') }}"></script>
{% endblock %}