{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <!-- <a class="mr-2" href="#">{{ session.template.name }}</a> -->
            <small class="text-muted">{{ session.date.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class="article-title">{{ session.template.name }}</h2>
        {% for exercise in session.exercises %}
        <p class="article-content">{{ exercise.exercise_name}} :
            {% for detail in exercise.details%}
            {{detail.repetitions}} / {{ detail.weight }} &nbsp;
            {% endfor %}
        </p>
        {% endfor %}
    </div>
</article>
{% endblock content %}