<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
</head>
<body>
    <h1>Session: {{ form.name.data }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.name.label }} {{ form.name(size=30) }}
        <ul>
            {% for exercise_form in form.exercises %}
                <li>
                    {{ exercise_form.name.label }} {{ exercise_form.name(size=30) }}
                    <ul>
                        {% for detail_form in exercise_form.details %}
                            <li>
                                {{ detail_form.repetitions.label }} {{ detail_form.repetitions(size=5) }}
                                {{ detail_form.weight.label }} {{ detail_form.weight(size=5) }}
                                {{ detail_form.delete() }}
                            </li>
                        {% endfor %}
                    </ul>
                    {{ exercise_form.add_detail() }}
                    {{ exercise_form.delete() }}
                </li>
            {% endfor %}
        </ul>
        {{ form.add_exercise() }}
        {{ form.submit() }}
    </form>
</body>
</html>
