{% extends 'layout.html' %}


{% block content %}
    <!-- <h1>Recent Training Sessions</h1> -->
    {% for session in session_data %}
        <!-- <h2>Session on {{ session.date }}</h2> -->
        <h5> {{ session.date }}   |   {{ session.template_name or "Random" }} </h5>
        <table border="1">
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in session.exercises %}
                    <tr>
                        <td>{{ exercise[0] }}</td>
                        <td>{{ exercise[1] }}</td>
                        <td>{{ exercise[2] }}</td>
                        <td>{{ exercise[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
